<div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper">
        <div class="main-panel w-100  documentation">
            <div class="content-wrapper">
                <div class="container-fluid">
                    <div class="row doc-content">
                        <div class="col-12 col-md-10 offset-md-1">
                            <div class="col-12 grid-margin" id="doc-intro">
                                <div class="card">
                                    <div class="card-body">
                                        <h3 class="mb-4 mt-4">Introduction</h3>
                                        <a class="btn btn-success" href="/"><i class="mdi mdi-home mr-2"></i>Back to home</a>
                                        <h1 class="text-primary mt-4">Documentation</h1>
                                        <p class="d-inline"><strong>Note</strong>: We are trying our best to document how to use the template. If you think that something is missing from the documentation, please do not hesitate to tell us about it. If you have any questions or issues regarding this theme please use Envato support form on our profile or email us at <a class="d-inline text-info" href="mailto:info@templatewatch.com">info@templatewatch.com</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- partial:../partials/_footer.html -->

            <footer class="footer">
                <div class="d-sm-flex justify-content-center justify-content-sm-between">
                    <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © 2018 <a href="https://www.templatewatch.com/" target="_blank">Templatewatch</a>. All rights reserved.</span>
                    <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Hand-crafted & made with <i class="ti-heart text-danger ml-1"></i></span>
                </div>
            </footer>

            <!-- partial -->
        </div>
    </div>
</div>