@using PratamaHotel.Models;

@model Guest;

@{
    ViewData["Title"] = "Create";
    Layout = "_AdminLayout";
}

<div id="PlaceHolderHere"></div>

<div class="card">
    <div class="card-body">
        <div class="d-flex justify-content-between align-items-center">
            <div>
                <h4 class="">ADD GUEST DATA</h4>
                <p class="card-description">
                    (Tambah data tamu)
                </p>
            </div>
            <div>
                <a class="btn btn-primary btn-rounded ti-plus" href="Guest/Create"> Add</a>
            </div>
        </div>
        <form class="forms-sample" asp-action="Create" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label for="Name">Name</label>
                <input asp-for="name" type="text" class="form-control" id="Name" placeholder="Name">
            </div>
            <div class="form-group">
                <label for="Address">Address</label>
                <input asp-for="address" type="text" class="form-control" id="Address" placeholder="Address">
            </div>
            <div class="form-group">
                <label for="IdCardNumber">Id Card Number</label>
                <input asp-for="idCardNumber" type="number" class="form-control" id="IdCardNumber" placeholder="ID Card Number">
            </div>
            <div class="form-group">
                <label for="Phone">Phone</label>
                <input asp-for="phoneNumber" type="number" class="form-control" id="Phone" placeholder="Phone">
            </div>
            <div class="form-group">
                <label for="Email">Email</label>
                <input asp-for="email" type="email" class="form-control" id="Email" placeholder="Email">
            </div>
            <button type="submit" class="btn btn-primary mr-2" data-toggle="modal" data-target="#exampleModal">Submit</button>
            <button class="btn btn-light">Cancel</button>
        </form>
    </div>
</div>

<div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Pendaftaran Berhasil</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Data anda berhasil ditambahkan ke database hotel.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script>
    $('#myModal').on('shown.bs.modal', function () {
        $('#myInput').trigger('focus')
    })
</script>