@using PratamaHotel.Models;

@model Guest;

@{
    ViewData["Title"] = "Update";
    Layout = "_AdminLayout";
}

<div class="card">
    <div class="card-body">
        <div class="d-flex justify-content-between align-items-center">
            <div>
                <h4 class="">EDIT GUEST DATA</h4>
                <p class="card-description">
                    (Ubah data tamu)
                </p>
            </div>
        </div>
        <form class="forms-sample" asp-action="Update" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label for="Name">Name</label>
                <input asp-for="name" type="text" class="form-control" id="Name" placeholder="Name">
            </div>
            <div class="form-group">
                <label for="Address">Address</label>
                <input asp-for="address" type="text" class="form-control" id="Address" placeholder="Address">
            </div>
            <div class="form-group">
                <label for="IdCardNumber">Id Card Number</label>
                <input asp-for="idCardNumber" type="number" class="form-control" id="IdCardNumber" placeholder="ID Card Number">
            </div>
            <div class="form-group">
                <label for="Phone">Phone</label>
                <input asp-for="phoneNumber" type="number" class="form-control" id="Phone" placeholder="Phone">
            </div>
            <div class="form-group">
                <label for="Email">Email</label>
                <input asp-for="email" type="email" class="form-control" id="Email" placeholder="Email">
            </div>
            <button type="submit" class="btn btn-primary mr-2" data-toggle="modal" data-target="#exampleModal">Submit</button>
            <button asp-action="Index" class="btn btn-light">Cancel</button>
        </form>
    </div>
</div>